<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
      <h2>  {{ current_user }}</h2>
   
   
    <h1>lets build a E-shop App</h1>
    <h2><a href="{% url 'register' %}">Register</a></h2>
    <h2><a href="{% url 'logout' %}">Logout</a></h2>
    <h2><a href="{% url 'profile' %}">Profile</a></h2>
    <h1><a href="{% url 'viewcart' %}">Mycart</a></h1>
    <h1>Categories</h1>
    <h2><a href="{% url 'smartphones' %}">Smartphones</a></h2>
    <h2><a href="{% url 'laptops' %}">Laptops</a></h2>
    <h2><a href="{% url 'tablets' %}">Tablets</a></h2>
    <h2><a href="{% url 'mouseandkeyboard' %}">Mouse and Keyboard</a></h2>
    <h2><a href="{% url 'headphone' %}">HeadPhone</a></h2>
    <h2><a href="{% url 'hometheater' %}">Home Theater</a></h2>
</body>
</html>