<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}    
      <h2>  Welcome {{ current_user }}</h2>
    {% endif %} 
   
   
    <h1>lets build a E-shop App</h1>
    <h2><a href="{% url 'register' %}">Register</a></h2>

    {% if current_user.is_authenticated %}
    <h2><a href="{% url 'logout' %}">Logout</a></h2>
    <h2><a href="{% url 'profile' %}">Profile</a></h2>
    <h1><a href="{% url 'viewcart' %}">Mycart</a></h1>
    {% else %}
    <h2><a href="{% url 'login' %}">login</a></h2>
    {% endif %}
    <h1>Categories</h1>
    {% for category in categories %}
        <a href="{% url 'products' category.id %}">
            <img src="{{ category.cat_image.url }}" alt="image">
            {{category.title}}
            {{category.rate}}
        </a>
    {% endfor %}

</body>
</html>