<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <h1>{{ current_user }}</h1>
                         <!--enctype is very import for loading image-->                                   
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        
        <h2>Enter your First name</h2>
        {{ form.first_name }}
        <h2>Enter your Last name</h2>
        {{ form.last_name }}
        <h2> Select your gender </h2>
        {{ form.gender }}
        <h2>Enter your address</h2>
        {{ form.address }}
        <h2>Enter your phone number</h2>
        {{ form.phone_number }}
        <h2>Have a Profile</h2>
        <!--image url-->
        <img src="{{ request.user.profile.user_image.url }}">
        {{ form.user_image }}
        <br><br>
       <input type="submit">

       
    </form>
</body>
</html>