{% extends 'shopapp/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!-- start -->
 <div class="login-container">
            <h2>Sign Up</h2>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if errors %}
                <ul class="messages">
                    {% for error in errors %}
                    <li class="{{ error.tags }}">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class="input-form" action="" method="POST">
                {% csrf_token %}
                <div class="username-section text-input-section">
                    {% render_field form.username id='modern-text' %}
                    <label class="label" for="modern-text">
                        <span>Username</span>
                    </label>
                </div>
                <div class="password text-input-section">
                    {% render_field form.password1 id='modern-text' %}
                    <label class="label" for="modern-text">
                        <span>Password</span>
                    </label>
                </div>
                <div class="password text-input-section">
                    {% render_field form.password2 id='modern-text' %}
                    <label class="label" for="modern-text">
                        <span>Confirm Password</span>
                    </label>
                </div>
                <input class="button" type="submit" value="Sign Up" />
            </form>
        </div>

<!-- end -->
   <!--  
    <form method='post'>
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}

        {{ form.email.label }}
        {{form.email}}

        {{ form.password1.label }}
        {{ form.password1 }}

        {{ form.password2.label }}
        {{ form.password2}}

        <input type="submit">
        <br>
        <a href="{% url 'login' %}"> already a user?Log in
        </a> -->
    {% endblock %}