<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if errors %}
    <ul class="messages">
        {% for error in errors %}
        <li class="{{ error.tags }}">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method='post'>
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}

        {{ form.email.label }}
        {{form.email}}

        {{ form.password1.label }}
        {{ form.password1 }}

        {{ form.password2.label }}
        {{ form.password2}}

        <input type="submit">
        <br>
        <a href="{% url 'login' %}"> already a user?Log in
        </a>
    </form>
</body>
</html>