{% extends 'shopapp/base.html' %}
{% block content %}
{% load static %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="category-container">
        {% for pro in products %}
            <div class="category-container__card">
                <a class="top-a" href="">
                    <div class="category-container__card__image-section">
                        <img src="{{ pro.pro_image.url }}" alt="" />
                    </div>
                    <div class="category-container__card__title smaller">
                        <h4>{{ pro.title}}</h4>
                    </div>
                    <div class="category-container__card__rate product-rate">
                        <strong>{{ pro.price }}</strong> <strike>500</strike>
                    </div>
                </a>
                <a href="{% url 'addcart' pro.id%}" class="button add-to-cart">Add to cart</a>
            </div>
        {% endfor %}           
    </div>
    
    <!-- 
   
    {% for pro in products %}
        <img src="{{ pro.pro_image.url }}" alt='image'> 
        <h2>{{ pro.title}}</h2>
        <h3>{{pro.description}}</h3>
        <a href="{% url 'addcart' pro.id%}">add to cart</a>
        <h2>{{ pro.price }}</h2>
       
    {% endfor %}
    <h1><a href="{% url 'viewcart' %}">Mycart</a></h1> -->

{% endblock %}